body{background-color: aliceblue;}


#pour{background-color: black; color: white; width:;height: 60px;}

nav ul li {
    list-style-type:none;
display: inline-block; padding: 20px;background-color: black; color: white;}
ul li a {
    color: white;
}